.continueButton {
background:transparent url(images/continue_button.png) no-repeat 0 0;
line-height:1;padding:10px 12px;
width:100px
}
.tunerMenuButton.save {
background:transparent url(images/tuner_save.png) no-repeat 0 0;
border-width:0;
padding:9px 4px 12px
}
.tunerMenuButton.next {
background:transparent url(images/tuner_next.png) no-repeat 0 0;
border-width:0;
padding:9px 4px 12px
}