#suggestedphraselist {
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
	background-color:#f7f7f7;
	font-size: 12px;
	font-weight: normal;
	border:2px solid #00ade0;
	display:block;
	max-height:500px;
	overflow-y:auto;
}
#jobphraselist {
	background-color:#f7f7f7;
	font-size: 12px;
	font-weight: normal;
	display:block;
}
#userphraselist {
	background-color:#f7f7f7;
	font-size: 12px;
	font-weight: normal;
	display:block;
	height:auto;
	width:100%;
}

#universities_div {
	background-color:#f7f7f7;
	font-size: 12px;
	font-weight: normal;
	display:block;
}
#resumephraselist {
	background-color:#f7f7f7;
	font-size: 12px;
	font-weight: normal;
	display:block;
	width:100%;
}
#companies_div {
	background-color:#f7f7f7;
	font-size: 12px;
	font-weight: normal;
	display:block;
}
#otherphrases_div {
	background-color:#f7f7f7;
	font-size: 12px;
	font-weight: normal;
	display:block;
}

#suggestedphraselist th {padding:5px 4px;border-bottom:solid 1px #ddd;}
#suggestedphraselist td {padding:0px 4px 1px;white-space:nowrap;}
th.kwdClear {padding:5px 4px; 1px #ddd;width:100px;}
th.kwdCbx {
padding: 5px 4px;
width: 50px;
text-align: center;
}
td.kwdClear {padding:5px 4px; 1px #ddd;width:100px;}
td.kwdCbx {width:150px;padding:5px 4px; 1px #ddd;}

tr.kwdRecord:hover td {background: #cfc;}
th.kwdText {width:350px;white-space:normal !important;font-size:12px;}
td.kwdText {width:350px;white-space:normal !important;font-size:12px;}
td.kwdTools {-moz-border-radius:7px 0 0 7px;-webkit-border-radius:7px 0 0 7px;border-radius:7px 0 0 7px;}
th.kwdRating {-moz-border-radius:0 7px 7px 0;-webkit-border-radius:0 7px 7px 0;border-radius:0 7px 7px 0;}
td.kwdRating {-moz-border-radius:0 7px 7px 0;-webkit-border-radius:0 7px 7px 0;border-radius:0 7px 7px 0;}
td.kwdTools span {display:inline-block;vertical-align:middle;width:14px;height:14px;}
th.kwdTextR {width:300px;white-space:normal !important;font-size:12px;}
td.kwdTextR {width:300px;white-space:normal !important;font-size:12px;}
td.kwdToolsR {-moz-border-radius:7px 0 0 7px;-webkit-border-radius:7px 0 0 7px;border-radius:7px 0 0 7px;}
th.kwdRatingR {width:150px;-moz-border-radius:0 7px 7px 0;-webkit-border-radius:0 7px 7px 0;border-radius:0 7px 7px 0;}
td.kwdRatingR {width:150px;-moz-border-radius:0 7px 7px 0;-webkit-border-radius:0 7px 7px 0;border-radius:0 7px 7px 0;}
td.kwdToolsR span {display:inline-block;vertical-align:middle;width:14px;height:14px;}
span.iconSynonyms {background:url(../plus-square.png) no-repeat 50% 50%;}
span.iconGSynonyms {background:url(../plus-gsquare.png) no-repeat 50% 50%;}
span.iconTinyInfo {background:url(../tinyInfo.gif) no-repeat 50% 50%;}
span.iconDelete {background:url(../x.png) no-repeat 50% 50%;}
span.iconAdd {background:url(../check.png) no-repeat 50% 50%;}
span.iconAddPhrase {background:url(../add.png) no-repeat 50% 50%;}
div.rateActions {width:150px;position:relative;top:3px;}
div.rateActions span.actionStatus {float:right;color:#777;font-weight:bold;}
div.rateActions div a {display:block;width:13px !important;height:14px !important;}
