﻿@charset "utf-8";
/* CSS Document */

*{
	margin:0px;
	padding:0px;
}
body
{
	margin:0px;
	padding:0px;
	/*background-color:#e8e8e7;*/
	font-family: "Comic Sans MS", Arial, Helvetica, sans-serif;
	font-size:13px;
	background: #eee url("../images/back03.jpg") repeat-x left top;
}

/*------ Link´s ------*/

a:link
{
color:#3C961E;
text-decoration:none;
}
a:visited
{
color:#3C961E;

text-decoration:none;
}
a:hover
{
color:#28AA32;

text-decoration:underline;
}



/*------ Titles ------*/

h1
{
	font-family:"Comic Sans MS";
	color:#6a9905;
	font-size:18px;
	padding-bottom:4px;
}

/*--- Lists ---*/
ul
{
	list-style:none;
	margin:0px 0px 20px 20px;
	padding:0px;
	/*font-size:12px;*/
	color:#000;
}

ul li
{
	font-size:12px;
	margin:0px 0px 0px 20px;
	/*font-family:Arial, Helvetica, sans-serif;*/
	list-style-image:url(../images/list1.gif);
}


/*--- Others ---*/
#wrapper
{
	/*width:1024px;*/
	width:900px;
	margin:0 auto;
}

#header
{
	clear: both;
}
 #logo
{
padding:20px 0px 15px 0px; 
float:left;
}
#navMenu
{
	float:right;
	width:560px;
	text-align:right;
}

#navMenu ul
{
	list-style:none;
	font-family: Arial, Helvetica, sans-serif;
	color:#3C961E;
}

#navMenu ul li
{	
	float:right;
	clear: both;
	font-size:12px;
	font:Arial, Helvetica, sans-serif;
	margin-top:27px;
	padding:2px 2px 2px 2px;
	color:#6a9905;
}

#navMenu a
{
	font-size:11px;
	font:Arial, Helvetica, sans-serif;
	margin-top:10px;
	padding:2px 2px 2px 2px;
	color:#6a9905;
	text-decoration:none;
}

#navMenu a:hover
{
	text-decoration:underline;
	color:#4d7002;
}



#contentWrapper
{
	margin:0 auto;
	clear: both;
	background-color:#FFF;
	width:900px;

}

#content
{
padding:10px 10px 20px 15px;
min-height:700px;
	height:auto !important;
	height:700px;
}

#content ul
{
	list-style-type:none;
	font-family:"Arial Black", Gadget, sans-serif;
	font-size:18px;
	margin-top:20px;
	
	}

#content li
{
	margin-bottom:5px;
}

.orange
{
	color:#ff9600;
	/*font-family:Arial, Helvetica, sans-serif;*/
	font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
}
.green
{
	color:#3c961e;
	font-family:Arial, Helvetica, sans-serif;
	font-size:15px;
	font-weight:bold;
}

option, select
{
	font-size:12px;
	padding:3px 3px 3px 3px;
}

.custombutton {
	width:auto;
	padding:0;
	margin:0;
	border:none;
	background:none;
	cursor:pointer;
}

.loginBox{ 

	padding: 4px;
	border: 1px solid #E2E7F4; 
	background: url(../images/bgd_input.gif) repeat-x;
	margin:0px;
}


.Lfloat{ 
float:left
}


.Rfloat{
	float:right;

}



.Cleared{
	clear:both;
	margin:0px;
	padding:0px;

}

.boxHeader{
	clear: both;
	height:6px;
}

.tl{
	margin: 0px 0px 0px -1px;
}

.tr{
	margin: 0px -1px 0px 0px;
	float: right;
}

.bl{
	margin: 0px 0px 0px -1px;
}

.br{
	margin: 0px -1px 0px 0px;
	float: right;
}

#footerback{
	height:30px;
margin-top:20px;
background-image:url(../images/back02.jpg);
background-repeat:repeat-x;
background-position:top;
clear:both;
}


#footer{
padding:10px 10px 0px 10px;
background-color:transparent;
margin:0 auto;
clear:both;
width:905px;
font-size:11px;

}


#footer a
{

	font-size:12px;
	font:Arial, Helvetica, sans-serif;
	margin-top:10px;
	padding:2px 5px 2px 5px;
	color:#6a9905;
	text-decoration:none;
}

#footer a:hover
{
	text-decoration:underline;
	color:#4d7002;
}


.topo {
	clear:both;
	width: 100%;
	padding-bottom:25px;
}
	
.topo a{
	float:right;
	font-size:10px;
	font-weight:normal;
	padding:2px;
	color:#6a9905;
	text-decoration:none;
	margin: 0px 3px 0px 3px;
	width: 55px;
	text-align:center;
}

.topo a:hover{
color:#4d7002;
text-decoration:underline;
}

.topo div a{
	float:right;

}
	
.topo a img{
	vertical-align: middle;
}
	

div.topo{

	margin: 15px 0px 9px 0px;
	clear: both;
	}


/******************************* MENU ************************************/
#nav {
    width: 610px;
	margin-top:10px;
    padding: 5px ;
    height: 27px;
	/*float:right;*/
	clear: both;
	font-size:11px;
}

#nav ul{

    list-style-type: none;
	padding:0px;
	margin:0px;
  
}

#nav li {
	float:left;
	height: 25px;
	list-style:none;
	text-align:center;
	margin-top:24px;
	font-family:"Courier New", Courier, monospace;
}

#nav li a {

	list-style-type:none;
	color:#484848;	
	width: 85px;
	height: 22px;
	display:block;
	text-decoration: none;
	padding: 5px 0px 0px 0px;	
	background-image: url(../images/buttom01.png);
	background-repeat: no-repeat;
	/*text-shadow: 0.1em 0.05em #FFF;*/
}

#nav li a:hover {
	color:#FFF;	
	text-decoration:underline;
	background-image: url(../images/buttom03.png);
	background-repeat: no-repeat;
		/*text-shadow: 0.1em 0.05em #484848;*/
}

li.current{
	list-style:none;
	text-align:center;
	color:#FFF;	
	width: 94px;
	height: 22px;
	display:block;
	text-decoration: none;
	padding: 6px 0px 0px 2px;	
	background-image: url(../images/buttom02.png);
	background-repeat: no-repeat;
	/*text-shadow: 0.1em 0.05em #666666;*/

}



/*******************************************************************/

#rcw
{
text-indent:-9999px;
background:url(../images/resumecakewalk.png) no-repeat;
width:355px;
height:52px;
padding-left:100px;
}

#navCrR{
	height:51px;
	width:15px;
	background:url(../images/nav_rcorner02.png);
}

#navCrL{
	height:51px;
	width:15px;
	background:url(../images/nav_lcorner02.png);
}

#navBar{
	clear: both;
	padding: 0;
	margin: 0 0 10px 0;
	height:51px;
	background-image:url(../images/back_nav02.png);
	background-repeat: repeat-x;
}

#navBar ul{
	margin: 0;
	padding: 5px 0px;
	list-style-type: none;
	text-align: center;
	float: left;
}

#navBar ul li{
	float: left;
	font-weight: bold;
	list-style: none;
	font-size: 1em;
	text-align: center;
	margin: 0;
		font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size:1.2em;
		font-style:bold;
}

#navBar li.current {
	background-image:url(../imgs/tab_hover01.png);
	background-repeat: no-repeat;
	display:block;
	color: #0B4499;
	text-decoration: none;
	padding: 15px 0px 10px 0px;
	width: 104px;
}

#navBar a{
	display: block;
	color: #4D7002;
	text-decoration: none;
	background-image:url(../imgs/tab01.gif);
	background-repeat: no-repeat;
	padding: 15px 0px 10px 0px;
	width: 104px;
}

#navBar a:hover{
	background-image:url(../imgs/tab_hover01.png);
	background-repeat: no-repeat;
	text-decoration: none;
	color: #000;
}