/* 
    Document   : phrases
    Created on : Jul 12, 2011, 9:28:45 AM
    Author     : Vinod
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/


#suggestedphrases{

    margin-top: 20px;
    margin-left: 5%;
    height: 60%;
    width: 45%;
    float: left;
	font-weight:bold;
    overflow: auto;
	text-align: center;
}

#suggestedphraselist{

    margin-top: 20px;
    position:relative;
    height: 75%;
    width: 100%;
    overflow:auto;
	font-weight:normal;
	text-align:left;
}

#suggestedphraselist th {
	font-weight:bold;
	padding:4px;
}
#userphrases{
    
    margin-top: 20px;
    margin-left: 5%;
    float:left;
    height: 60%;
    width: 45%;
    overflow:auto;
}

#userphraselist{

    margin-top: 20px;
    position:relative;
    height: 60%;
    width: 100%;
    overflow:auto;
}

#userphraselist th {
	font-weight:bold;
	padding:4px;
}

#userphraselist td {
	padding:4px;
}
label {

    display: block;
    padding-left: 15px;
    text-indent: -15px;
    text-align: justify;
}

.checkbox {

    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    vertical-align: bottom;
    position: relative;
    top: -1px;
    color: red;
    /*overflow: hidden;*/
}

/*  CSS for the rating system */

#rateStatus{float:left; clear:both; width:100%; height:20px;}
#rateMe{clear:both; width:100%; height:auto; padding:0px; margin:0px;}
#rateMe li{float:left;list-style:none;}
#rateMe li a:hover,
#rateMe .on{background:url(images/star_on.gif) no-repeat;}
#rateMe a{float:left;background:url(images/star_off.gif) no-repeat;width:12px; height:12px;}
#ratingSaved{display:none;}
.saved{color:red; }

