html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, q, s, small, strike, strong, tt, var,
u, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
margin: 0;
padding: 0;
border: 0;
font-size: 100%;
font: inherit;
vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
display: block;
}
body {
line-height: 1;
}
ol, ul {
list-style: none;
}
blockquote, q {
quotes: none;
}
table {
border-collapse: collapse;
border-spacing: 0;
}
label, input[type=checkbox]{
cursor:pointer
}
h1 {
	color:#0073ba;
	font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	font-size:18px;
	padding-bottom:4px;
}
html {overflow-y:scroll}
body {
font-family: arial, helvetica, sans-serif;
font-size:12px
}
strong {
font-weight:bold
}
a, .link {
color:#00129c;
cursor:pointer;
text-decoration:none
}
p {padding:0 0 10px}
small {
font-size:10px
}
.clearFix {
overflow:hidden
}
.clearThis {
clear:both;
height:0;
overflow:hidden
}
.underline {text-decoration:underline}
.center {text-align:center}
.red {color:#a51319}
.italic {font-style:italic}
.bold {font-weight:bold}

a, .link {
color:#00129c;
cursor:pointer;
text-decoration:none
}
a:hover,
.link:hover {
text-decoration:underline
}

/* layout */
.central {
margin:0 auto;
margin-left: 40px;
position:relative;
width:896px
}
/* layout */
.central2 {
margin:0 auto;
margin-left: 40px;
position:relative;
width:1096px
}
/* you need to change tuner javascript if you change any widths */
.tunercentral {
margin:0 auto;
margin-left: 40px;
position:relative;
width:996px
}

#header {
height:50px
}
#logo {
background: url(images/logo_resumeq.jpg) no-repeat scroll 0 0 transparent;
color: #0071BB;
float: left;
font-size: 31.5px;
height: 29px;
margin: 14px 0 0 1px;
text-indent: -9999em;
text-transform: uppercase;
width: 259px
}
#user-nav {
font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
font-size:13px;
font-weight:bold;
position:absolute;
right:0;
top:25px
}
#user-nav a {border-left:1px solid #0071bf;color:#666;padding:0 8px}
#user-nav a:first-child {border-width:0}
#siteTag {
background-color: #00ace4;
background-image: -moz-linear-gradient(top, #00ace4, #0071BF); 
background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #00ace4),color-stop(1, #0071BF)); 
background-image: -webkit-linear-gradient(#00ace4, #0071BF); 
background-image: linear-gradient(top, #00ace4, #0071BF);
filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#00ace4', EndColorStr='#0071BF');
margin:0
}
#siteTag h2 {
color:#e5e5e5;
font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
font-size:16px;
font-weight:bold;
padding:8px 0 10px;
letter-spacing:1px
}


/* home page */
#watchDemo {
background:transparent url(images/watch_demo_button.png) no-repeat 0 0;
float:right;
height:54px;
text-indent:-9999em;
width:199px
}
#homeTag {
font-family: "Arial Rounded MT Bold", arial, sans-serif;
font-size:22px;
line-height:1.1;
padding:15px 0;
width:480px
}
#socialLinks {
float:right;
padding:5px 0 0;
position:relative;
width:300px
}
.IN-widget {
padding-left:25px;
position:relative;
top:-6px
}
#steps {
background:transparent url(images/steps_bg.png) no-repeat 0 0;
height:143px;
margin:0 0 50px;
padding:10px;
position:relative
}
.step {
background-color:transparent;
background-image:url(images/steps.png);
background-repeat:no-repeat;
float:left;
position:relative;
}
.step:hover {
cursor:pointer
}
.step h3, .step p {text-indent:-9999em}
#step1 {
background-position:-16px -3px;
height:145px;
width:275px
}
#step1:hover {
background-position:-16px -146px
}
#step1ResumeName {
color:#0073ba;
font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
font-size:13px;
font-style:italic;
position:absolute;
right:44px;
text-align:right;
top:80px;
width:134px;
word-wrap:break-word
}
#step1Tick {
position:absolute;
right:45px;
top:21px
}
#step2 {
background-position:-24px -288px;
display:inline;
height:145px;
margin:0 23px 0 24px;
width:252px
}
#step2JBName {
color:#0073ba;
font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
font-size:13px;
font-style:italic;
position:absolute;
right:44px;
text-align:right;
top:80px;
width:134px;
word-wrap:break-word
}
#step2Tick {
position:absolute;
right:45px;
top:21px
}
#step2:hover {
background-position:-24px -430px
}
#step3 {
background-position:0px -575px;
height:144px;
overflow:hidden;
position:absolute;
right:10px;
width:302px
}
#step3:hover {
background-position:0px -724px;
}
#emailResumeTo {
-moz-border-radius:5px;
-webkit-border-radius:5px;
border-radius:5px;
left:20px;
position:absolute;
top:92px;
width:140px
}
#emailResumeTo:focus {
outline:0
}
#step3Submit {
background: transparent url(images/sort_button.png) no-repeat 0 0;
    border-width: 0;
    color: transparent;
    cursor: pointer;
	font-size:0;
    height: 35px;
	left:172px;
	outline:0;
	padding:0;
    position: absolute;
    top: 87px;
    width: 112px;
}
#step3Sort {
background: transparent url(images/sort2_button.png) no-repeat 0 0;
    border-width: 0;
    color: transparent;
    cursor: pointer;
	font-size:0;
    height: 20px;
	left:190px;
	outline:0;
	padding:0;
    position: absolute;
    top: 82px;
    width: 112px;
}
#step3Assign {
background: transparent url(images/assign_button.png) no-repeat 0 0;
    border-width: 0;
    color: transparent;
    cursor: pointer;
	font-size:0;
    height: 20px;
	left:190px;
	outline:0;
	padding:0;
    position: absolute;
    top: 104px;
    width: 112px;
}
.returning_user_email {cursor:default !important}
.new_user_email input {display:none}

#topReasons {
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
background-color:white;
border:3px solid #00ace4;
border:3px solid rgba(0,172,228,0.7);
float:left;
min-height:200px;
height:auto !important;
height:200px;
padding:5px 0 35px 20px;
position:relative;
width:545px
}
#topReasons h1 {
color:#0073ba;
font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
font-size:29px;
padding:10px 0
}
#topReasons h1 span {
color:#009245
}
#topReasons ol {
color:#4c4c4c;
font-size:18px;
list-style-type:none
}
#topReasons li {
font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
font-size:18px;
padding:3px 0
}
#free {
background:transparent url(images/free.png) no-repeat 0 0;
height:129px;
position:absolute;
right:-25px;
top:-30px;
width:137px
}

#homeVideo {
float:right;
margin-top:-10px;
width:300px
}


/* buttons */
.button {
-moz-box-shadow:1px 1px 5px rgba(0,0,0,0.3);
-webkit-box-shadow:1px 1px 5px rgba(0,0,0,0.3);
box-shadow:1px 1px 5px rgba(0,0,0,0.3);
cursor:pointer;
border-width:0;
display:inline-block;
text-align:center
}
.blue {
background-color:#0073ba;
color:white;
}
.big {
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
font-size:20px;
padding:5px
}

/* form stuff */
input[type=text], input[type=email], select {
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
border:1px solid #4c4c4c;
padding:4px
}
.placeHolder {
color:#999 !important
}


/* footer */
#footer {
background-color:#19774b;
clear:both;
color:white;
font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
font-size:14px;
margin:50px 0 0;
padding:10px 0;
text-align:center
}
#footer a,
#footer span {
color:white;
padding:0 25px
}


/* tuner */

#tunerMenu {
float:right;
margin-top:0px;
width:192px
}
#tunerMenu section {
position:relative;
font-weight:bold;
}
#tunerMenu ul {
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-moz-border-radius:12px;
-webkit-border-radius:12px;
border-radius:12px;
background-color:#f7f7f7;
border:2px solid #00ade0;
display:block;
overflow:hidden;
position:absolute;
right:0;
width:148px;
}
#tunerMenu li {font-size:16px;font-weight:bold;padding:9px;position:relative}
#tunerMenu li:first-child {
-moz-border-radius:12px 12px 0 0;
-webkit-border-radius:12px 12px 0 0;
border-radius:12px 12px 0 0;
}
#tunerMenu li:last-child {
-moz-border-radius:0 0 12px 12px;
-webkit-border-radius:0 0 12px 12px;
border-radius:0 0 12px 12px
}
#tunerMenu .tuned, #tunerMenu .remaining, #tunerMenu .ignored {color:#006511}
.yourText {background-color:#ffccff;color:#000}
.yourText em {border:1px solid black;display:inline-block;padding:1px}
.tuned {background-color:#9ddfc9;color:#1a2823}
.remaining {background-color:#f7f741}
.ignored {background-color:#ffcc00;}

#tuner .remaining, #tuner .tuned, #tuner .ignored {padding:2px}

.tunerMenuButton {
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-moz-border-radius:12px;
-webkit-border-radius:12px;
border-radius:12px;
color:white;
display:block;
font-family: Arial, Helvetica, sans-serif;
font-size:21px;
font-weight:bold;
padding:6px 0;
position:absolute;
right:0;
text-align:center;
text-shadow:0 1px 3px rgba(0,0,0,0.45);
width:144px
}
.tunerMenuButton.save {
background-color:#0073ba;
background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(0,172,224)),
    color-stop(1, rgb(201,231,242))
);
background-image: -moz-linear-gradient(
    center bottom,
    rgb(0,172,224) 0%,
    rgb(201,231,242) 100%
);
border:4px solid #00ade0;
}
.next {
background:transparent url(images/tuner_done_button.png) no-repeat 0 0;
border-width:0;
display:block;
height:106px;
outline:0;
padding:0;
position:absolute;
right:-6px;
text-indent:-9999em;
width:160px
}
.tunerMenuButton:hover {text-decoration:none}

#turboTuner {
position:absolute;
margin-top:00px;
width:190px
right:0;
font-size:12px;
}
#turboTuner li {font-size:12px;font-weight:normal;padding:2px;position:relative}
#turboMenu.turboLI {font-size:12px;font-weight:normal;padding:4px;position:relative}
#turboMenu.turboTD {font-size:12px;font-weight:normal;padding:4px;position:relative}
#tunerMenu table {
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-moz-border-radius:12px;
-webkit-border-radius:12px;
border-radius:12px;
background-color:#f7f7f7;
border:2px solid #00ade0;
display:block;
position:absolute;
margin-left:10;
min-width:230px;
height:auto;
}
.turboLI {font-size:12px;color:black;font-weight:normal;padding:4px;white-space:nowrap;}
.turboTD {font-size:12px;color:black;font-weight:normal;padding:4px;white-space:nowrap;}
.missing1TD {font-size:12px;color:black;font-weight:bold;padding:4px;}
.missing2TD {font-size:12px;color:black;font-weight:normal;padding:4px;}

/* you need to change tuner javascript if you change any widths */
#tuner {
-moz-border-radius:12px;
-webkit-border-radius:12px;
border-radius:12px;
background-color:#e7e7e7;
font-size:14px;
border:2px solid #00ade0;
margin:10px 190px 0 0;
padding:30px 40px;
width:720px
}
#theResume {
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
box-shadow:3px 3px 10px rgba(0,0,0,0.3);
background-color:white;
min-height:500px;
height:auto !important;
height:500px;
overflow-y:auto;
padding:20px;
width:680px
}
/* the tune menu that pops up */
.tune {
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
box-shadow:3px 3px 10px rgba(0,0,0,0.3);
background-color:white;
border:2px solid #00ace4;
border:2px solid rgba(0,172,228,0.7);
display:inline-block;
z-index:100
}
.tune li {
border-top:2px solid #00ace4;
border-top:2px solid rgba(0,172,228,0.7);
cursor:pointer;
font-size:16px;
font-weight:bold;
/* padding:5px 80px 5px 35px !important; */
padding:5px 80px 5px 5px;
position:relative
}
.tune li:first-child {border-top-width:0}
.tune .plus {
height:13px;
position:absolute;
right:46px;
top:6px;
width:14px
}
.tune .delete {
height:13px;
position:absolute;
right:26px;
top:6px;
width:14px
}
.tune .info {
height:13px;
position:absolute;
right:6px;
top:6px;
width:14px
}
.tune .selected {
background:url(images/green_arrow_small.png) no-repeat 7px 3px;
color:#006837
}
.tune .original {
padding:4px;
color:#9a9a9a;
font-style:italic
}
.tune .suggestion {
padding:4px;
color:black;
}
.enterOwnText {font-size:15px;font-weight:bold;padding:4px;width:250px}

/* loading overlay */
#loading {
background-color:rgba(255,255,255,0.85);
background-image:url(images/ajax-loader.gif);
background-repeat:no-repeat;
background-position:center;
height:100%;
left:0;
position:absolute;
top:0;
width:100%;
z-index:10000
}
#loading p {
color:#00a9e2;
font-size:32px;
font-weight:bold;
position:absolute;
text-align:center;
top:40%;
width:100%
}

/* popups */

.popup {
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
background:#d8f2fe url(images/ie_popup_bg.png) repeat-x 0 0;
background-image: -moz-linear-gradient(top, #FCFCFC 42%, #D6F4FE 68%, #D9F2FE 100%); /* firefox */
background-image: -webkit-gradient(linear, left top, left bottom, color-stop(42%,#FCFCFC), color-stop(68%,#D6F4FE), color-stop(100%,#D9F2FE)); /* webkit */background-image: linear-gradient(top, #FCFCFC 33%, #D6F4FE 68%, #D9F2FE 100%);
background-image: linear-gradient(top, #FCFCFC 42%, #D6F4FE 68%, #D9F2FE 100%);border:3px solid #b4b4b4;
padding:20px
}
.popup h3 {
color:#0073ba;
font-family: "Myriad Pro", "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
font-size:26px;
font-weight:bold;
padding:0 0 10px
}
.popup textarea {
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
border:2px solid #333;
height:260px;
padding:4px;
width:540px
}
.checkboxes label {
color:#666;
display:inline-block;
font-size:14px;
padding:5px 50px 5px 5px
}
#cboxClose {
right:5px !important;top:5px !important;
}
.about {
font-family: "Arial Rounded MT", arial, sans-serif;
font-size:15px;
line-height:1.1;
padding:15px 0;
width:600px;
}

.outertbl {
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
	background-color:#f7f7f7;
	font-size: 12px;
	font-weight: normal;
	border:2px solid #00ade0;
	display:block;
}
.outertbl th {
	padding:4px;
	font-weight: bold;
	font-size: 13px;
	text-align:center;
	white-space:nowrap;
}
.outertbl td {
	padding: 4px;
	vertical-align: top;
	align: left;
}

.resumeReport {
border:1px solid #00ade0;
}
.resumeReport th {
	font-weight: bold;
	text-align: center;
	padding: 5px;
	white-space:nowrap;
}
.resumeReport td {
	padding: 3px;
	text-align: left;
}

.missingtbl {
border:1px solid #00ade0;
}
.missingtbl th {
	font-weight: bold;
	color: red;
	white-space:nowrap;
	padding: 5px;
}
.missingtbl td {
	color: red;
	padding: 3px;
	text-align: left;
}
.resumestbl {
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
	background-color:#f7f7f7;
	font-size: 12px;
	font-weight: normal;
	border:2px solid #00ade0;
	display:block;
	width:500px;
	max-height:400px;
	overflow-y:auto;
}
.resumestbl th {
	padding:4px;
	font-weight: bold;
	font-size: 14px;
	text-align:center;
	white-space:nowrap;
}
.resumestbl td {
	padding: 4px;
	vertical-align: top;
	align: left;
}
.scorestbl {
-moz-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-webkit-box-shadow:3px 3px 10px rgba(0,0,0,0.3);
box-shadow:3px 3px 10px rgba(0,0,0,0.3);
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:7px;
	background-color:#f7f7f7;
	font-size: 12px;
	font-weight: normal;
	border:2px solid #00ade0;
	display:block;
	width:800px;
	max-height:400px;
	overflow-y:auto;
}
.scorestbl th {
	padding:4px;
	font-weight: bold;
	font-size: 14px;
	text-align:center;
	white-space:nowrap;
}
.scorestbl td {
	padding: 4px;
	vertical-align: top;
	align: left;
}
.clear { /* generic container (i.e. div) for floating buttons */
    overflow: hidden;
    width: 100%;
}

a.cssbutton {
    background: transparent url('images/bg_button_a.gif') no-repeat scroll top right;
    color: #444;
    display: block;
    float: left;
    font: normal 12px arial, sans-serif;
    height: 24px;
    margin-right: 6px;
    padding-right: 18px; /* sliding doors padding */
    text-decoration: none;
}

a.cssbutton span {
    background: transparent url('images/bg_button_span.gif') no-repeat;
    display: block;
    line-height: 14px;
    padding: 5px 0 5px 18px;
}
a.cssbutton:active {
    background-position: bottom right;
    color: #000;
    outline: none; /* hide dotted outline in Firefox */
}

a.cssbutton:active span {
    background-position: bottom left;
    padding: 6px 0 4px 18px; /* push text down 1px */
} 
.subscriptiontbl table {
	background-color:#f7f7f7;
	font-size: 12px;
	font-weight: normal;
	border:2px solid #00ade0;
	display:block;
}
.subscriptiontbl td {
	padding: 4px;
	vertical-align: middle;
	align: left;
}
