body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #202060;
}

.text{
	position: absolute;
	z-index: 1;
	left: 0;
	top: 0;
}

.header {
	font-family: Arial, sans-serif;
	font-size: 16px;
	font-weight: bold;
	color: #202060;
}

.spErr {
	color: #000066;
	background-color: #33FF33;
	vertical-align: middle;
}

.spErr0 {
	background-color: #FFFF00;
	color: #000066;
	vertical-align: middle;
}

.spErr1 {
	background-color: #66CCFF;
	color: #000066;
	vertical-align: middle;
}
.spErr2 {
	background-color: #0099FF;
	color: #000066;
	vertical-align: middle;
}
.spErr3 {
	background-color: #00FF00;
	color: #000066;
	vertical-align: middle;
}
.spErr4 {
	background-color: #FFFF00;
	color: #000066;
	vertical-align: middle;
}
.spErr5 {
	background-color: #FF9900;
	color: #000066;
	vertical-align: middle;
}
.spErr6 {
	background-color: #FF3399;
	color: #000066;
	vertical-align: middle;
}
.spErr7 {
	background-color: #CCCCCC;
	color: #000066;
	vertical-align: middle;
}

.spErr_dim {
	font-family: sans-serif;
	font-size: 16px;
	color: #000066;
	background-color: #ffe0a0;
	vertical-align: middle;
}

.spErrSelected {
	color: #000066;
	background-color: #33FF33;
	vertical-align: middle;
	border:2px solid black;padding:1px
}

.spErr0Selected {
	background-color: #FFFF00;
	color: #000066;
	vertical-align: middle;
	border:2px solid black;padding:1px
}

.spErr1Selected {
	background-color: #66CCFF;
	color: #000066;
	vertical-align: middle;
	border:2px solid black;padding:1px
}
.spErr2Selected {
	background-color: #0099FF;
	color: #000066;
	vertical-align: middle;
	border:2px solid black;padding:1px
}
.spErr3Selected {
	background-color: #00FF00;
	color: #000066;
	vertical-align: middle;
	border:2px solid black;padding:1px
}
.spErr4Selected {
	background-color: #FFFF00;
	color: #000066;
	vertical-align: middle;
	border:2px solid black;padding:1px
}
.spErr5Selected {
	background-color: #FF9900;
	color: #000066;
	vertical-align: middle;
	border:2px solid black;padding:1px
}
.spErr6Selected {
	background-color: #FF3399;
	color: #000066;
	vertical-align: middle;
	border:2px solid black;padding:1px
}
.spErr7Selected {
	background-color: #CCCCCC;
	color: #000066;
	vertical-align: middle;
	border:2px solid black;padding:1px
}

.spErr_dim {
	font-family: sans-serif;
	font-size: 16px;
	color: #000066;
	background-color: #ffe0a0;
	vertical-align: middle;
}

.spErr_notSeen {
	font-family: sans-serif;
	font-size: 16px;
	color: #000066;
	background-color:#f7f741;
	vertical-align: middle;
}

.spErr_reselected {
	font-family: sans-serif;
	font-size: 16px;
	color: #000000;
	background-color:#ffcc00;
	vertical-align: middle;
}

.spErr_corrected {
	font-family: sans-serif;
	font-size: 16px;
	background-color:#9ddfc9;
	color:#1a2823
	vertical-align: middle;
}

.spErr_corrected_more {
	font-family: sans-serif;
	font-size: 16px;
	color: #000000;
	background-color: #D0EEB0;
	vertical-align: middle;
}

.spErr_manualChoice {
	font-family: sans-serif;
	font-size: 16px;
	background-color:#ffccff;
	color:#000
	vertical-align: middle;
	border:1px solid black;display:inline-block;padding:1px
}

.spErr_deleted {
	font-family: sans-serif;
	font-size: 16px;
	color: #000066;
	background-color:#ffffff;
	vertical-align: middle;
	border:1px solid black;display:inline-block;padding:1px
}

.spErr_turbo1 {
	font-family: sans-serif;
	font-size: 16px;
	background-color:#ffccff;
	color:#000
	vertical-align: middle;
	border:1px solid black;display:inline-block;padding:1px
}

.spErr_turbo2 {
	font-family: sans-serif;
	font-size: 16px;
	color: #000066;
	background-color: #cc6666;
	vertical-align: middle;
}

.textRegion {
	font-family: sans-serif;
	font-size: 16px;
	padding: 10px;
}

.errOption {
	font-family: sans-serif;
	font-size: 16px;
	/* color: green; */
	color: black;
	text-decoration: none;
	padding:4px;
}

.errOption1 {
	font-family: sans-serif;
	font-size: 16px;
	/* color: #ff3300; */
	color: black;
	font-weight: normal;
	text-decoration: none;
	padding:4px;
}
.tune .errOption {
	font-family: sans-serif;
	font-size: 16px;
	padding-left: 5px;
	/* color: green; */
	color: black;
	text-decoration: none;
	padding:4px;
}

.errOptionExtra {
	background-color: #FFFFa0;
}

.errOption:hover,.errOption1:hover,.errOptionExtra {
	background-color: #ffeeaa;
}

.ttip {
	display: none;
	position: absolute;
	z-index: 3;
	border: solid 1px black;
	background-color: #DDFFFF;
	padding: 1;
	padding-left: 5;
	padding-right: 5;
	min-width: 300px;
}

.ttipBody {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 13px;
	padding: 0;
	margin: 0;
}

.feedbackPane {
	display: none;
	position: absolute;
	z-index: 4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 8pt;
	border: solid 1px black;
	background-color: #FFFFFF;
	padding: 5;
}

.dropMenu {
	font-family: sans-serif;
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	visibility: hidden;
}

.menuTable {
	font-family: sans-serif;
	font-size: 16px;
	line-height: 23px;
	font-weight: bold;
	color: navy;
	background-color: lightyellow;
	text-decoration: none;
	border: 1px solid black;
	padding: 0px;
}

.userSuppliedText {
	font-family: sans-serif;
	font-size: 16px;
	font-weight: bold;
	padding-left: 5px;
	color: navy;
	background: #EEEEEE;
	text-decoration: none;
	border: 1px solid black;
}

.moreLink {
	font-family: Verdana, sans-serif;
	font-size: 10px;
	height: 10px;
	text-align: right;
	color: #EEFFEE;
}

.tagLink {
	font-family: Verdana, sans-serif;
	font-size: 10px;
	height: 10px;
	text-align: center;
	color: #EEFFEE;
}

.feedbackLink {
	font-family: Verdana, sans-serif;
	font-size: 10px;
	height: 10px;
	text-align: center;
	color: #333399;
}

.towarning {
	visibility: hidden;
	position: absolute;
	z-index: 4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12pt;
	left:100px;
	top:200px
	color: red;
	border: solid 1px black;
	background-color: #FFFFFF;
	padding: 5;
	text-align: center;
}

.fewPopup {
	visibility: hidden;
	position: absolute;
	z-index: 4;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10pt;
	left:100px;
	width:700px;
	top:200px
	color: black;
	border: solid 2px black;
	background-color: #FFFFFF;
	padding-left: 25px;
	text-align: left;
}
