		<script>
		if (!document.layers)
		document.write('<div id="divStayTopLeft" style="position:absolute" onmouseout="showMenu(false)" onmouseover="showMenu(true)">')
		</script>

		<layer id="divStayTopLeft">
		<table border="0" cellspacing="0" cellpadding="0" style="display:none"><tr><td>
		<div id="tableScrollMenu">
		</div>
		</td><td>
		<table id="separator" border="1" width="30" height="70" cellspacing="0" cellpadding="0">
		<tr> <td width="100%" bgcolor="#FFFF00">
			<p align="center"><b><font color="#000000" size="2">H<br/>i<br/>-<br/>L<br/>i<br/>t<br/>e<br/>s</font></b></p></td>
			</tr>
		</table>
		</td></tr></table>
		</layer>
		
		
		<script language="JavaScript" type="text/JavaScript" src="scrollMenu.js">
		</script>
		<br />
		<br />
		</div>
		</td>
		</tr>
		</table>

	</div>
  </div>
</div>

<div class="footer">
      <div class="middle">
    <ul class="footerlinks">
          <li><a href="#">HOME</a></li>
          <li><a href="#">FEATURES</a></li>
          <li><a href="#">SUPPORT</a></li>
          <li><a href="#">BLOG</a></li>
          <li><a href="#">PRICING & SIGNUP</a></li>
        </ul>
    <div class="footerleft">
          <div class="footerlogo"></div>
          <h6>Copyright &copy; 2012 Textnomics Inc</h6>
          <ul>
        <!--li><a href="#">Site Map</a></li-->
        <!--li><a href="#">Legal</a></li-->
        <li><a href="#">Terms & Policy</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
        </div>
    <div class="footerright">
          <h6>connect</h6>
          <div class="connectbox"> <a href="#">
            <div class="face"></div>
            </a> <a href="#">
            <div class="in"></div>
            </a> <a href="#">
            <div class="google"></div>
            </a> <a href="#">
            <div class="twt"></div>
            </a> <a href="#">
            <div class="youtube"></div>
            </a> <a href="#">
            <div class="rss"></div>
            </a> </div>
        </div>
  </div>
    </div>
</body>
</html>
