@charset "utf-8";
/*
CSS by Nika Labs
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	outline:0;
	font-size:100%;
	vertical-align:baseline;
}
body {
	direction:ltr;
	font:13px Tahoma, Geneva, sans-serif
}
.clear {
	clear:both
}
.middle {
	width:1000px;
	margin:auto;
	position:relative
}
a:link {
	text-decoration:none;
	color:#333
}
a:visited {
	text-decoration:none;
	color:#333
}
a:hover {
	color:#F60
}
.topbg {
	background:url(images/bg.jpg);
	width:100%;
	height:510px;
}
.topbg_dashboard{
	background:url(images/bg.jpg);
	width:100%;
	height:76px;
}
.logo {
	background:url(images/logo.png);
	width:255px;
	height:46px;
	float:left;
	margin:5px 10px 10px 10px
}
.logotext {
	position: absolute;
	font-size:12px;
	color:white;
	float:left;
	margin:50px 0 0 10px;
}
.lavaLampWithImage {
	position: relative;
	height: 29px;
	width: 421px;
	background: url("bg.gif") no-repeat top;
	padding: 15px;
	margin: 10px 0;
	overflow: hidden;
}
.lavaLampWithImage li {
	float: left;
	list-style: none;
}
.lavaLampWithImage li.back {
	background: url("lava.gif") no-repeat right -30px;
	width: 9px;
	height: 30px;
	z-index: 8;
	position: absolute;
}
.lavaLampWithImage li.back .left {
	background: url("lava.gif") no-repeat top left;
	height: 30px;
	margin-right: 9px; /* 7px is the width of the rounded shape */
}
.lavaLampWithImage li a {
	font: bold 14px arial;
	text-decoration: none;
	color: #fff;
	outline: none;
	text-align: center;
	top: 7px;
	text-transform: uppercase;
	letter-spacing: 0;
	z-index: 10;
	display: block;
	float: left;
	height: 30px;
	position: relative;
	overflow: hidden;
	margin: auto 10px;
}
.lavaLampWithImage li a:hover, .lavaLampWithImage li a:active, .lavaLampWithImage li a:visited {
	border: none;
}
.lavaLampNoImage {
	position: relative;
	height: 29px;
	width: 450px;
	padding: 15px;
	margin: 10px 0;
	overflow: hidden;
	float:right
}
.lavaLampNoImage li {
	float: left;
	list-style: none;
}
.lavaLampNoImage li.back {
	background-color: #99cccc;
	width: 9px;
	height: 30px;
	z-index: 8;
	position: absolute;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.lavaLampNoImage li a {
	font: 18px arial;
	text-decoration: none;
	color: #fff;
	outline: none;
	text-align: center;
	top: 7px;
	text-transform: uppercase;
	letter-spacing: 0;
	z-index: 10;
	display: block;
	float: left;
	height: 35px;
	position: relative;
	overflow: hidden;
	margin: auto 10px;
}
.lavaLampNoImage li a:hover, .lavaLampNoImage li a:active, .lavaLampNoImage li a:visited {
	border: none;
}
.lavaLampBottomStyle {
	position: relative;
	height: 29px;
	width: 421px;
	background-color: white;
	padding: 15px;
	margin: 10px 0;
	overflow: hidden;
	border: 1px solid gray;
}
.lavaLampBottomStyle li {
	float: left;
	list-style: none;
}
.lavaLampBottomStyle li.back {
	border-bottom: 5px solid blue;
	width: 9px;
	height: 30px;
	z-index: 8;
	position: absolute;
}
.lavaLampBottomStyle li a {
	font: bold 14px arial;
	text-decoration: none;
	color: #000;
	outline: none;
	text-align: center;
	top: 7px;
	text-transform: uppercase;
	letter-spacing: 0;
	z-index: 10;
	display: block;
	float: left;
	height: 30px;
	position: relative;
	overflow: hidden;
	margin: auto 10px;
}
.lavaLampBottomStyle li a:hover, .lavaLampBottomStyle li a:active, .lavaLampBottomStyle li a:visited {
	border: none;
}
.logg {
}
.login {
	background:#ff6600;
	padding:10px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	float:right;
}
.login:hover {
	background:#cb3500
}
.register {
	background:#ff6600;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	;
	float:right;
	padding:10px;
	border-left:1px solid #529da5
}
.register:hover {
	background:#cb3500
}
.logg a:link, .logg a:visited {
	color:#FFF;
}
.hr {
	width:90%;
	background:#aad1d5;
	border:none
}
.user {
	background:#ff6600;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	float:right;
	padding:10px;
	border-left:1px solid #529da5;
	position:relative
}

.user ul {
	width:100%;
	position:absolute;
	background:url(images/admin_ul.png) repeat;
	-webkit-border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-left-radius: 5px;
	top:90%;
	right:0;
	z-index:100;
	padding:0 0 10px 0;
	display:none
}

.user ul li {
	list-style:none;
	width:100%;
	text-align:center;
	margin:3px 0 0 0
}
.user ul li a:hover {
	color:#ff6600;
}

.themost {
	background:url(images/describe.png);
	width:519px;
	height:18px;
	margin:20px 0 20px 250px
}
.indexpart {
	width:415px;
	float:left;
	margin:10px
}
.try {
	background:#ff6600;
	padding:10px;
	width:190px;
	height:30px;
	font:24px Arial, Helvetica, sans-serif;
	color:#FFF;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	margin:15px 0 0 95px
}
.try:hover {
	background:#cb3500
}
.try a:link, .try a:visited {
	color:#FFF
}
.threeeindex {
	font:22px Arial, Helvetica, sans-serif;
	color:#FFF
}
.threeeindex h3 {
	font-weight:normal;
	margin:30px 0 0 25px;
	float:left
}
.upload {
	background:url(images/icons.png) no-repeat left;
	height:73px;
	width:75px;
	background-position:-248px 0;
	float:left;
	margin:5px 10px 10px 10px
}
.copy {
	background:url(images/icons.png) no-repeat left;
	height:73px;
	width:78px;
	background-position:-165px 0;
	float:left;
	margin:5px 10px 10px 10px
}
.Analyze {
	background:url(images/icons.png) no-repeat left;
	height:73px;
	width:78px;
	background-position:-79px 0;
	float:left;
	margin:5px 10px 10px 10px
}
.sharing {
	background:url(images/icons.png) no-repeat left;
	height:73px;
	width:78px;
	background-position:0px 0;
	float:left;
	margin:5px 10px 10px 10px
}
.maintext {
	line-height:20px;
	padding:10px
}
.maintext h2 {
	font:24px Arial, Helvetica, sans-serif;
	font-weight:normal;
	margin:15px
}
.maintext img {
	float:left;
	margin:10px
}
.maintext h4 {
	padding:15px 0 0 0;
	font:18px Arial, Helvetica, sans-serif
}
.footer {
	background:#99cccc;
	min-height:150px;
	width:100%
}
.footerlinks {
	float:left;
	list-style:none;
	font:12px Arial, Helvetica, sans-serif;
	float:right
}
.footerlinks li {
	float:left;
	margin:15px
}
.footerlinks li a:link, .footerlinks li a:visited {
	color:#FFF
}
.footerlinks li a:hover {
	color:#003
}
.footerright {
	width:250px;
	float:right
}
.footerleft {
	float:left;
	width:500px;
	color:#fff;
	margin-top:10px;
}
.footerlogo {
	background:url(images/logo.png);
	width:200px;
	height:44px;
	background-position:-55px 0px;
	margin:5px 0 0 5px
}
.footerleft a{color:#fff;}
.footerleft ul {
	float:left;
	font:12px Arial, Helvetica, sans-serif;
	list-style:none;
	margin:0px
}
.footerleft li {
	float:right;
	padding:5px
}
.footerleft li a:link, .footerleft li a:visited {
	color:#FFF
}
.footerleft li a:hover {
	color:#003
}
.face {
	background:url(images/connetc.png);
	width:27px;
	height:27px;
	background-position:0 0;
	margin:5px;
	float:left
}
.face:hover {
	opacity:0.5
}
.in {
	background:url(images/connetc.png);
	width:28px;
	height:28px;
	background-position:-32px 0;
	margin:5px;
	float:left
}
.in:hover {
	opacity:0.5
}
.google {
	background:url(images/connetc.png);
	width:29px;
	height:29px;
	background-position:-63px 0;
	margin:5px;
	float:left
}
.google:hover {
	opacity:0.5
}
.twt {
	background:url(images/connetc.png);
	width:27px;
	height:27px;
	background-position:0 -30px;
	margin:5px;
	float:left
}
.twt:hover {
	opacity:0.5
}
.youtube {
	background:url(images/connetc.png);
	width:28px;
	height:28px;
	background-position:-32px -30px;
	margin:5px;
	float:left
}
.youtube:hover {
	opacity:0.5
}
.rss {
	background:url(images/connetc.png);
	width:29px;
	height:29px;
	background-position:-63px -30px;
	margin:5px;
	float:left
}
.rss:hover {
	opacity:0.5
}
.connectbox {
	width:240px;
	color:#fff;
	height:26px;
	line-height:26px;
	margin:15px 0 0 25px;
	float:right;
	vertical-align:top;
	text-align:right;
}

.maintext_dashboard {
	line-height:20px;
	padding:0 10px
}
.sky_bar {
	width:100%;
	height:45px;
	background:#f3f8f8;
}

.sky_bar h3 {
	float:left;;
	font-size:25px;
	color:#003366;
	margin:10px 0 0 5px;
	font-weight:normal
}
.sky_bar p {
	float:left;;
	font-size:15px;
	color:#414242;
	margin:12px 0 0 5px;
	font-weight:normal
}
.sky_bar a{
	float:right;
	font-size:15px;
	color:#669999;
	margin:-3px 0 0 0;
	font-weight:normal;
	height:45px;
	padding:0 10px;
	line-height:43px
}
.sky_bar a:hover{
	color:#fff;
	background:#ff6600;
}
.sky_bar .selected{
	color:#fff;
	background:#ff6600;
}


.text_dashboard {
	width:1000px;
	color:#000;
	margin:10px
}
.text_dashboard .table{
	width:680px;
	margin:10px 0 10px 0
}
.text_dashboard .table .th{
	border:1px solid #e6e6e6;
	background:url(images/tr.jpg) repeat-x;
	height:29px;
	width:680px;
	border-bottom:none
}
.text_dashboard .table .tr{
	border:1px solid #e6e6e6;
	height:29px;
	width:680px;
	border-bottom:none;
	border-top:none
}
.text_dashboard .table .tr a {
	color:#ff8c3f;
	text-decoration:underline;
}

.text_dashboard .table .title {
	width:160px;
	float:left;
	height:28px;
	border-right:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	line-height:27px;
	padding:0 0 0 14px
}
.text_dashboard .table .resume {
	width:103px;
	float:left;
	height:28px;
	border-right:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	line-height:27px;
	padding:0 0 0 14px
}
.text_dashboard .table .date {
	width:188px;
	float:left;
	height:28px;
	border-right:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
	line-height:27px;
	padding:0 0 0 14px
}
.text_dashboard .table .request {
	width:170px;
	float:left;
	height:28px;
	border-bottom:1px solid #e6e6e6;
	line-height:27px;
	padding:0 0 0 14px
}
.text_dashboard select {
	border:1px solid #dcdcdc;
	background:#fff;
	padding:2px;
}
.text_dashboard input.search {
	width:85px;
	background:url(images/search.jpg) no-repeat;
	height:23px;
	border:0;
	cursor:pointer;
	float:left;
	margin:10px 0 15px 5px
}

.text_dashboard a.nav {
	border:1px solid #e6e6e6;
	float:right;
	height:20px;
	margin:10px 0 0 5px;
	padding:2px 5px;
	color:#969696
}
.accordion {
	width:1000px;
	border-bottom: solid 2px #a3d1d1;
	float:right
}
.accordion li {
	background: #fff url(images/arrow_b.png) no-repeat 10px 10px;
	margin: 0;
	font: bold 120%/100% Arial, Helvetica, sans-serif;
	border: solid 2px #a3d1d1;
	border-bottom: none;
	cursor: pointer;
	width:966px;
	height:35px;
	line-height:33px;
	padding:0 0 0 30px;
	list-style:none;
	color:#669999;
	float:right
}

.accordion li.active , .accordion li:hover{
	background:#ff6600 url(images/arrow_w.png) no-repeat 10px 10px;
	color:#fff;
}
.accordion li.d {
	margin: 0;
	float:right;
	height:auto;
	background:none;
	color:#000;
	font-size:12px;
	cursor:default
}

select.jobtype {
	width:205px;
	height:35px;
	padding:5px;
	border:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
}

.jobtitle {
	float:left;
	width:200px;
	margin:0 0 0 0
}
.jobtitle input {	
	width:150px;
	height:20px;
	padding:5px;
	border:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	margin:0 0 10px 0
}

.jobid{ width:350px; clear:both; margin:15px 0 0 0;}

.jobid input {	
	width:150px;
	height:20px;
	padding:5px;
	border:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	margin:0 0 10px 0
}

.mailbox{ width:600px; clear:both; margin:15px 0 0 0;}

.jobup input {	
	width:320px;
	padding:5px;
	border:1px solid #ccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	margin:0 0 10px 0
}

.jobtitle input { float:left; }
.jobid input { float:left;}
.helpbtn{float:left; margin-left:5px; margin-top:8px;}

.jobcheck {
	float:left;
	width:100%;
	margin:15px 0 0 0
}

a.continue {
	width:100px;
	height:30px;
	float:right;
	background:#ff6600;	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	text-shadow:none;
	text-align:center;
	display:block;
	line-height:28px;
	color:#fff;
	margin:10px 10px 10px 0
}


.table_01{
	width:810px;
	margin:10px 0 10px 0;
	float:left;
	max-height:400px;
	overflow-y:auto;
}
.table_01 .th{
	border:1px solid #e6e6e6;
	background:url(images/tr.jpg) repeat-x;
	height:29px;
	width:450px;
	border-bottom:none
}
.table_01 .tr{
	border:1px solid #e6e6e6;
	height:29px;
	width:450px;
	border-bottom:none;
	border-top:none
}
.table_01 .tr a {
	color:#ff8c3f;
	text-decoration:underline;
}

.table_01 .iconHolder {
	width:72px;
	float:left;
	height:28px;
	border-bottom:1px solid #e6e6e6;
	line-height:27px;
	position:relative;

}
.table_01 .iconHolder img {
	margin:2px 0 0 0;
	float:left;
}
.table_01 .iconHolder #icon {
	float:left;
}

.table_01 .Phrases {
	width:120px;
	float:left;
	height:28px;
	border-bottom:1px solid #e6e6e6;
	line-height:27px;
	padding:0 0 0 14px
}
.table_01 .rate {
	width:100px;
	float:left;
	height:28px;
	border-bottom:1px solid #e6e6e6;
	line-height:27px;
	padding:0 0 0 14px
}
.table_01 .rate img{
margin-top:5px;
}
.table_01 .chek1 {
	width:56px;
	float:left;
	height:28px;
	border-bottom:1px solid #e6e6e6;
	line-height:27px;
	padding:0 0 0 14px
}
.table_01 .chek2 {
	width:35px;
	float:left;
	height:28px;
	border-bottom:1px solid #e6e6e6;
	line-height:27px;
	padding:0 0 0 14px
}
.table_02{
	width:420px;
	margin:10px 0 10px 20px;
	float:left
}
.table_02 .th{
	border:1px solid #e6e6e6;
	background:url(images/tr.jpg) repeat-x;
	height:29px;
	width:420px;
	border-bottom:none
}
.table_02 .tr{
	border:1px solid #e6e6e6;
	height:29px;
	width:420px;
	border-bottom:none;
	border-top:none
}
.table_02 .tr a {
	color:#ff8c3f;
	text-decoration:underline;
}

.table_02 .iconHolder {
	width:75px;
	float:left;
	height:28px;
	border-bottom:1px solid #e6e6e6;
	line-height:27px;
}
.table_02 .iconHolder img {
	margin:2px 0 0 0;
}


.table_02 .Phrases {
	width:115px;
	float:left;
	height:28px;
	border-bottom:1px solid #e6e6e6;
	line-height:27px;
	padding:0 0 0 14px
}
.table_02 .rate {
	width:95px;
	float:left;
	height:28px;
	border-bottom:1px solid #e6e6e6;
	line-height:27px;
	padding:0 0 0 14px
}
.table_02 .chek1 {
	width:40px;
	float:left;
	height:28px;
	border-bottom:1px solid #e6e6e6;
	padding:0 0 0 14px;
	font-size:10px;
	line-height:13px
}
.table_02 .chek2 {
	width:24px;
	float:left;
	height:28px;
	border-bottom:1px solid #e6e6e6;
	line-height:27px;
	padding:0 0 0 14px
}

a.analyz {
	width:150px;
	height:30px;
	float:right;
	background:#ff6600;	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	text-shadow:none;
	text-align:center;
	display:block;
	line-height:28px;
	color:#fff;
	margin:10px 10px 10px 0
}

.orangeBtn{
	width:150px;
	height:30px;
	padding:8px;
	background:#ff6600;	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	text-shadow:none;
	text-align:center;
	white-space:nowrap;
	line-height:28px;
	color:#fff !important;
	margin:10px 10px 10px 0	
	
	}

.smallBtn{
	width:90px;
	height:15px;
	padding:5px;
	background:#ff6600;	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	text-shadow:none;
	text-align:center;
	line-height:28px;
	white-space:nowrap;
	color:#fff !important;
	margin:10px 10px 10px 0	
	font-size:10px;	
	}

.signin_left {
	width:593px;
	float:left;
	margin:15px 0 
}
.signin_left h3{
	color:#003366;
	font-size:32px;
	font-weight:normal
}

.signin_left img:hover{
	opacity:0.8;
}

.hr {
	background:#999;
	float:left;
	width:100%;
	height:1px
}
.signin_left input[type=text] ,.signin_left input[type=password] {
	background:#fff;
	border:1px solid #ccc;
	width:175px;
	height:30px;
	border-radius:5px;
	-moz-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
}

.signin {
	width:115px;
	height:30px;
	float:left;
	background:#ff6600;	
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	text-shadow:none;
	text-align:center;
	display:block;
	line-height:28px;
	color:#fff;
	margin:10px 10px 10px 0;
	font-size:15px;
	border:none
}

.signin_left a {
	color:#ff8c3f;
	text-decoration:underline;
}

.error {
	/* width:80px; */
	float:left;
	background:url(images/error.jpg) no-repeat 5px 5px #fccac1;
	border:1px solid #fe2b29;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	min-height:35px;
	max-height:100px;
	overflow-y:auto;
	white-space:nowrap;
	padding:0 5px 0 40px;
	color:#666;
	line-height:33px;
	font-weight:700
}


.signin_right {
	width:300px;
	float:left;
	margin:15px 0 15px 105px
}
.signin_right  .box{
	width:230px;
	float:left;
	background:#99cccc;
	border-radius:5px;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	-o-border-radius:5px;
	margin:25px 0  0 0 ;
	padding:10px 35px;
	color:#fff;
	text-align:justify
}

.signin_right  .box h3 {
	color:#fff;
	text-align:center;
	margin:20px 0 0 0;
	font-size:23px;
}

a.reg {
	width:135px;
	height:32px;
	float:right;
	margin:30px 47px 0 0;
	background:url(images/reg.jpg) no-repeat;
}
.scrollbar1 {
width: 100%;
height: 380px;
overflow: scroll;
float: left;
overflow-x: hidden;
}

.uploadDiv{background:#999999; height:150px; text-align:center; border:dashed medium #fff; color:#fff; font-size:14px; line-height:50px;}

/* UNLESS YOU KNOW WHAT YOU'RE DOING, DO NOT CHANGE THE FOLLOWING RULES */
		
		.easy-accordion{display:block;position:relative;overflow:hidden;padding:0;margin:0}
		.easy-accordion dt,.easy-accordion dd{margin:0;padding:0}
		.easy-accordion dt,.easy-accordion dd{position:absolute}
		.easy-accordion dt{margin-bottom:0;margin-left:0;z-index:5;/* Safari */ -webkit-transform: rotate(-90deg); /* Firefox */ -moz-transform: rotate(-90deg);-moz-transform-origin: 20px 0px;  /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);cursor:pointer;}
		.easy-accordion dd{z-index:1;opacity:0;overflow:hidden}
		.easy-accordion dd.active{opacity:1;}
		.easy-accordion dd.no-more-active{z-index:2;opacity:1}
		.easy-accordion dd.active{z-index:3}
		.easy-accordion dd.plus{z-index:4}
		.easy-accordion .slide-number{position:absolute;bottom:0;left:10px;font-weight:normal;font-size:1.1em;/* Safari */ -webkit-transform: rotate(90deg); /* Firefox */ -moz-transform: rotate(90deg);  /* Internet Explorer */ filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);}
		 
		 
/* FEEL FREE TO CUSTOMIZE THE FOLLOWING RULES */
#accordion{width:960px;height:420px;}
#accordion h2{font-size:22px;margin-top:0px}
#accordion dl{width:960px;height:420px;}	
#accordion dt{height:36px;line-height:28px;text-align:right;padding:10px 15px 0 0;font-size:14px;font-weight:bold;border:1px solid #dbe9ea;text-transform:uppercase;letter-spacing:1px;background:#ddd;color:#26526c}
#accordion dt.active{cursor:pointer;color:#fff;background:#F60;}
#accordion dt.hover{color:#fff; background:#3C0;}
#accordion dt.active.hover{color:#fff}
#accordion dd{padding:25px; padding-top:0px; background-color:#F8F8F8; border:1px solid #dbe9ea;border-left:0;margin-right:3px}
#accordion .slide-number{color:#68889b;left:10px;font-weight:bold}
#accordion .active .slide-number{color:#fff}
#accordion a{color:#68889b}

.bubbleInfo {
    position: relative;
}

.popup {
    position: absolute;
    display: none; /* keeps the popup hidden if no JS available */
}

#tooltip {
	position: absolute;
	z-index: 3000;
	border: 1px solid #111;
	background-color: #eee;
	padding: 5px;
	opacity: 0.85;
	width:300px;
	font-weight:normal;
}
#tooltip h3, #tooltip div { margin: 0; }

a.selected {
  background-color:#1F75CC;
  color:white;
  z-index:100;
}

.ui-dialog{
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  text-align:left;
  width:350px;
  z-index:50;
  padding: 15px;	
}
.ui-icon-closethick{font-size:0px; position:absolute; top:-5px; right:-5px; width:31px; height:31px; background:url(images/close.png);}

.messagepop {
  background-color:#FFFFFF;
  border:1px solid #999999;
  cursor:default;
  display:none;
  top: 15px;
  left:30px;
  position:absolute;
  text-align:left;
  width:350px;
  z-index:50;
  padding: 15px;
}
.messagepop .close{font-size:0px; position:absolute; top:-5px; right:-5px; width:31px; height:31px; background:url(images/close.png);}

.ttip .close{ position:absolute; top:-5px; right:-5px; width:31px; height:31px; background:url(images/close.png);}

label {
  display: block;
  margin-bottom: 3px;
  padding-left: 15px;
  text-indent: -15px;
}

.messagepop p, .messagepop.div {
  margin: 8px 0;
  padding-bottom: 8px;
}
.resumeRow{border-bottom:1px solid #CCC; clear:both; height:25px; margin-bottom:5px;}
.resumeName{float:left; width:300px;}
.resumeDistance{float:left; width:100px;text-align:center;}
.resumeDistanceTitle{float:left; width:100px;font-weight:bold;text-align:center;}
.resumeScore{float:left; width:150px;text-align:center;}
.yourScore{float:left; width:200px;text-align:center;}
.resumeCheck{float:left; width:40px; clear:both;}
.resumeNameTitle{float:left; width:300px;font-weight:bold;text-align:center;}
.resumeScoreTitle{float:left; width:150px;font-weight:bold;text-align:center;}
.yourScoreTitle{float:left; width:200px;font-weight:bold;text-align:center;}

.checkbox, .radio {
	width: 19px;
	height: 25px;
	padding: 0 5px 0 0;
	background: url(images/checkbox.png) no-repeat;
	display: block;
	clear: left;
	float: left;
}
.radio {
	background: url(images/radio.png) no-repeat;
}

#btn-slide img{ vertical-align:text-bottom;}
.dataTables_wrapper a{text-decoration:underline;}
.dataTables_wrapper{color:#333;}
.DataTables_sort_wrapper{color:#F60;}

.rateActions{font-size:10px;}
.iconTinyInfo{font-weight:normal; text-align:left;}
/* old layout */
.central {
margin:0 auto;
margin-left: 40px;
position:relative;
width:896px
}
.about {
font-family: "Arial Rounded MT", arial, sans-serif;
font-size:15px;
line-height:1.1;
padding:15px 0;
width:600px;
}
#socialLinks {
float:right;
padding:5px 0 0;
position:relative;
width:300px
}
/* loading overlay */
#loading {
background-color:rgba(255,255,255,0.85);
background-image:url(images/ajax-loader.gif);
background-repeat:no-repeat;
background-position:center;
height:100%;
left:0;
position:absolute;
top:0;
width:100%;
z-index:10000
}
#loading p {
color:#00a9e2;
font-size:32px;
font-weight:bold;
position:absolute;
text-align:center;
top:40%;
width:100%
}
.processing {
background-image:url(images/ajax-loader.gif);
background-repeat:no-repeat;
background-position:center;
}

.kwdCbx {
width: 60px;
padding: 0px;
float: left;
}
.kwdRating {
float: left;
background: #fcba8d;
}

.kwdText {
width: 280px;
white-space: normal !important;
font-size: 12px;
float: left;
}
.kwdClear {
padding: 0px;
width: 40px;
float: left;
}

.kwdRecord{ clear:both; width:100%; float:left;}
.kwdTools{float:left;margin-right:10px;width: 55px;}
.kwdTools span {display:inline-block;vertical-align:middle;width:14px;height:14px;}
.kwdTextR {width:300px;white-space:normal !important;font-size:12px;border-bottom:solid 1px #ddd;}
.kwdTextR {width:300px;white-space:normal !important;font-size:12px;border-bottom:solid 1px #ddd;}
.kwdToolsR {-moz-border-radius:7px 0 0 7px;-webkit-border-radius:7px 0 0 7px;border-radius:7px 0 0 7px;border-bottom:solid 1px #ddd;}
.kwdRatingR {width:150px;-moz-border-radius:0 7px 7px 0;-webkit-border-radius:0 7px 7px 0;border-radius:0 7px 7px 0;border-bottom:solid 1px #ddd;}
.kwdRatingR {width:150px;-moz-border-radius:0 7px 7px 0;-webkit-border-radius:0 7px 7px 0;border-radius:0 7px 7px 0;border-bottom:solid 1px #ddd;}
.kwdToolsR span {display:inline-block;vertical-align:middle;width:14px;height:14px;}
span.iconSynonyms {background:url(../plus-square.png) no-repeat 50% 50%;}
span.iconGSynonyms {background:url(../plus-gsquare.png) no-repeat 50% 50%;}
span.iconTinyInfo {background:url(../tinyInfo.gif) no-repeat 50% 50%;}
span.iconDelete {background:url(../x.png) no-repeat 50% 50%;}
span.iconAdd {background:url(../check.png) no-repeat 50% 50%;}
span.iconAddPhrase {background:url(../add.png) no-repeat 50% 50%;}
div.rateActions {width:150px;position:relative;top:3px;}
div.rateActions span.actionStatus {float:right;color:#777;font-weight:bold;}
div.rateActions div a {display:block;width:13px !important;height:14px !important;}

.tableHeader { width:100%; }
.tableHeaderFive th.kwdText { width: 335px; }
.tableHeaderFive th.kwdRating{ width:150px; float:left; }

.sociallogin{
Float:left;
Margin-right:6px;
}

.superscript{font-size:xx-small; vertical-align:top;} 

.subscriptiontbl table {
	background-color:#f7f7f7;
	font-size: 12px;
	font-weight: normal;
	border:2px solid #00ade0;
	display:block;
}
.subscriptiontbl td {
	padding: 2px;
	vertical-align: middle;
	align: left;
}
